body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}

.container{
margin-top:40px;
}

#quiz-box{
background:#1e293b;
padding:20px;
border-radius:12px;
width:90%;
max-width:400px;
margin:auto;
}

.option{
display:block;
width:100%;
margin:10px 0;
padding:12px;
font-size:16px;
border:none;
border-radius:8px;
background:#334155;
color:white;
}

.option:hover{
background:#22c55e;
}

#nextBtn{
margin-top:15px;
padding:10px 20px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
}
